<div class="row">

    <div class="col-md-12">
        <nb-card class="theme-card">
            <nb-card-header>
                House Mode
            </nb-card-header>
            <nb-card-body>
                <button *ngFor="let mode of houseModes" nbButton (click)="changeHouseMode(mode.value)" [status]="currentHouseMode === mode.value ? 'primary' : ''">
                    {{ mode.name }}
                </button>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-12">
        <ngx-temperatures></ngx-temperatures>
    </div>

    <div class="col-md-12">
        <ngx-batteries></ngx-batteries>
    </div>

    <div class="col-md-12">
        <ngx-speakers></ngx-speakers>
    </div>

    <div class="col-md-12">
        <ngx-cameras></ngx-cameras>
    </div>

</div>
