<div class="container-fluid">

    <div class="row top-nav">

        <div class="top-nav__left">

            <ul class="menu">
                <li class="menu--item">
                    <a routerLink="/"
                       routerLinkActive="menu--item__link--active"
                       [routerLinkActiveOptions]="{exact: true}"
                       class="menu--item__link red"><i class="menu--item__icon fa fa-home"></i>Home</a>
                </li>
                <li class="menu--item">
                    <a routerLink="/audio"
                       routerLinkActive="menu--item__link--active"
                       class="menu--item__link green"><i class="menu--item__icon fa fa-music"></i>Audio</a>
                </li>
                <li class="menu--item">
                    <a routerLink="/lighting"
                       routerLinkActive="menu--item__link--active"
                       class="menu--item__link yellow"><i class="menu--item__icon fa fa-lightbulb-o"></i>Lighting</a>
                </li>
                <li class="menu--item">
                    <a routerLink="/cctv"
                       routerLinkActive="menu--item__link--active"
                       class="menu--item__link blue"><i class="menu--item__icon fa fa-video-camera"></i>CCTV</a>
                </li>
                <li class="menu--item">
                    <a routerLink="/devices"
                       routerLinkActive="menu--item__link--active"
                       class="menu--item__link blue"><i class="menu--item__icon fa fa-microchip"></i>Devices</a>
                </li>
            </ul>

        </div>

        <div class="top-nav__right">

            <ul class="menu">
                <li class="menu--item">
                    <i class="connection fa fa-2x fa-signal"
                       [ngClass]="{
                       'connection--connected': isApiConnected === true,
                       'connection--disconnected': isApiConnected === false ,
                       'connection--unknown': isApiConnected === null }"></i>
                </li>
                <li class="menu--item">
                    <div class="time">{{ time | date:'HH:mm' }}</div>
                </li>
            </ul>

        </div>

    </div>

</div>
