@import '../../../styles/colours';
@import '../../../styles/variables';

.side-nav {
    display: inline-block;
    margin-right: $margin;

    &__menu {

        &--item {
            margin-bottom: 1px;
            padding: $margin;
            background-color: $blue-39;

            &:first-child {
                border-radius: $border-radius $border-radius 0 0;
            }
        }
    }
}