<div class="row">

    <div class="col col-12 col-md-3 col-lg-3">

        <ul class="button-list" *ngIf="(rooms$ | async) as rooms">
            <li class="button-list__item" *ngFor="let room of rooms">

                <a [routerLink]="['/audio', room.id]"
                   routerLinkActive="item__button--active"
                   [routerLinkActiveOptions]="{exact: true}"
                   class="item__button">{{room.name}}</a>
            </li>
        </ul>

    </div>

    <div class="col col-12 col-md-9 col-lg-9">
        <router-outlet></router-outlet>
    </div>

</div>
