@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/font-awesome/css/font-awesome.css';

@import 'colours';
@import 'normalize';
@import 'reset';
@import 'typography';
@import 'variables';

html {
    background-color: $blue-1f;
    line-height: 1.3rem;
    font-size: $base-font-size;
}

body {
    font-family: $body-font;
    color: $white;
}

.page {
    padding: $margin*2;
    background-color: $blue-1f;
}

.content {
    flex-grow: 1;
}