@import '../../../styles/colours';
@import '../../../styles/typography';
@import '../../../styles/variables';

.box {
    margin-bottom: $margin;
    overflow: hidden;
    border-radius: $border-radius;
    flex-grow: 1;
    background-color: $blue-39;

    &__title {
        padding: $margin;
        //border-bottom: 1px solid $blue-1f;
        background-color: $green;
        line-height: $font-size-large;

        &--text {
            font-family: $header-font;
            font-size: $font-size-normal;
            text-transform: uppercase;
        }

        .fa {
            vertical-align: middle;
        }
    }

    &__list {

        a {
            cursor: pointer;
        }

        .list {
            font-size: $font-size-normal;

            &__item {
                padding: $margin;
                //border-bottom: 1px solid $blue-1f;

                .fa {
                    vertical-align: middle;
                }
            }
        }
    }
}

.info {
    display: flex;

    &__artwork {
        img {
            display: block;
            width: 50px;
            height: 50px;
            margin-right: $margin;
            border-radius: $border-radius;
        }
    }

    &__track {
        line-height: $font-size-normal;

    }
}