@import '../../../styles/colours';
@import '../../../styles/typography';
@import '../../../styles/variables';

.box {
    margin-bottom: $margin;
    overflow: hidden;
    border-radius: $border-radius;
    flex-grow: 1;
    background-color: $blue-39;

    &__title {
        padding: $margin;
        border-bottom: 1px solid $blue-1f;
        background-color: $blue-50;
        line-height: $font-size-large;

        &--text {
            font-family: $header-font;
            font-size: $font-size-large;
            text-transform: uppercase;
        }

        .fa {
            vertical-align: middle;
        }
    }

    &__list {

        .list {
            font-size: $font-size-normal;

            &__item {
                padding: $margin;
                border-bottom: 1px solid $blue-1f;
                line-height: $font-size-normal;

                .fa {
                    vertical-align: middle;
                }
            }
        }

    }
}