
.batteries {
    display: flex;
    flex-direction: row;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        flex-basis: 0;

        nb-icon {
            margin-bottom: 5px;
        }

        &--level,
        &--type {
            margin-bottom: 5px;
        }

        &--room {
            font-weight: bold;
        }
    }
}
