<div class="panel">

    <div class="panel--row">
        <div class="box"><i class="fa fa-2x fa-fw fa-tv"></i></div>

        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-play"></i></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-pause"></i></a>

        <a class="button" [routerLink]="'/'"><span class="radio1">1</span></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-heart"></i></a>

        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-volume-down"></i></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-volume-up"></i></a>

        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-lightbulb-o"></i><span class="sub-text">Alcove</span></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-lightbulb-o"></i><span class="sub-text">Corner</span></a>
    </div>

    <div class="panel--row">
        <div class="box"><i class="fa fa-2x fa-fw fa-bed"></i></div>

        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-play"></i></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-pause"></i></a>

        <a class="button" [routerLink]="'/'"><span class="radio1">1</span></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-heart"></i></a>

        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-volume-down"></i></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-volume-up"></i></a>

        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-lightbulb-o"></i><span class="sub-text">Main</span></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-lightbulb-o"></i><span class="sub-text">Bedside</span></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-lightbulb-o"></i><span class="sub-text">Bed</span></a>
    </div>

    <div class="panel--row">
        <div class="box"><i class="fa fa-2x fa-fw fa-bath"></i></div>

        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-play"></i></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-pause"></i></a>

        <a class="button" [routerLink]="'/'"><span class="radio1">1</span></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-heart"></i></a>

        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-volume-down"></i></a>
        <a class="button" [routerLink]="'/'"><i class="fa fa-2x fa-fw fa-volume-up"></i></a>
    </div>

</div>