<div class="row">

    <div class="col col-12 col-md-6 col-lg-4">
        x
<!--        <ul class="rooms" *ngIf="(rooms$ | async) as rooms">-->
<!--            <li class="room" *ngFor="let room of rooms">-->

<!--                <a [routerLink]="['/', room.urlName]"-->
<!--                   routerLinkActive="menu&#45;&#45;item__link&#45;&#45;active"-->
<!--                   [routerLinkActiveOptions]="{exact: true}"-->
<!--                   class="">{{room.name}}</a>-->
<!--            </li>-->
<!--        </ul>-->

        <a (click)="click()">Click</a>

    </div>

    <div class="col col-12 col-md-6 col-lg-8">

        <router-outlet></router-outlet>

    </div>

</div>
