@import '../../../styles/colours';
@import '../../../styles/variables';

.top-nav {
    flex-grow: 1;
    margin-bottom: $margin*2;
    padding: $margin;
    border-radius: $border-radius;
    background-color: $blue-39;

    &__left {

    }

    &__right {
        text-align: right;
    }
}